/* .head{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: white;
} */
/* #group { */
    /* position: relative; */
   /* } */
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #C6B3D9;
    background: transparent;
    /* margin-top: 5em;
    height: 30vh; */
   }

   
   
   
   

   .label {
    color: white;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;  
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
    
   /* .input:focus {
    outline: none;
   } */
   /* .input:focus ~ label, .input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: white;
   } */
   
   .bar {
    position: relative;
    display: block;
    width: 100%;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   /* .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   } */
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }

   .say{
    font-size: 2em;
    text-align: center;
    font-weight: bold;
   }